<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Anúncios</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
    <link rel="stylesheet" href="listagemAnuncios.css">
    <script src="listagemAnuncios.js" defer></script>
</head>

<body>
    <header>

        <nav>
            <a href="../../home/homeInterna.html" class="btn-voltar">
                 Voltar 
            </a>
            <a href="../home/index.html">
                <img class="logo-image-nav" src="../../../public/images/icon.png" alt="logo">
            </a>
        </nav>
    </header>

    <main>
        <div class="listagem-container">
            <h1 class="listagem-titulo">Meus Anúncios</h1>

            <div class="anuncio-item">
                <img src="../../../public/images/civic0.png" alt="Foto do veículo" class="anuncio-foto">
                <div class="anuncio-info">
                    <p><strong>Marca:</strong> Honda</p>
                    <p><strong>Modelo:</strong> Civic</p>
                    <p><strong>Ano:</strong> 2024</p>
                </div>
                <div class="anuncio-botoes">
                    <a href="../anuncio.html" class="btn-acao">Ver Detalhes</a>
                    <a href="listagemInteresses.html" class="btn-acao">Ver Interesses</a>
                    <button class="btn-acao btn-excluir">Excluir</button>
                </div>
            </div>

            <div class="anuncio-item">
                <img src="../../../public/images/imagem2.jpeg" alt="Foto do veículo" class="anuncio-foto">
                <div class="anuncio-info">
                    <p><strong>Marca:</strong> Fiat</p>
                    <p><strong>Modelo:</strong> Punto T-Jet</p>
                    <p><strong>Ano:</strong> 2013</p>
                </div>
                <div class="anuncio-botoes">
                    <a href="../anuncio.html" class="btn-acao">Ver Detalhes</a>
                    <a href="listagemInteresses.html" class="btn-acao">Ver Interesses</a>
                    <button class="btn-acao btn-excluir">Excluir</button>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <h3>Virtual Cars não é um site real</h3>
    </footer>


</body>

</html>