<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes do Anúncio</title>

  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="detalhes.css">


  <script src="anuncio.js" defer></script>
</head>

<body>
  <header>
    <nav class="nav-login">
      <a href="../home/index.html">
        <img class="logo-image-nav" src="../../public/images/icon.png" alt="logo">
      </a>
    </nav>
  </header>

  <main>
    <div class="anuncio-container">
      <div class="imagem-container">
          <img class="imagem-carro" src="../../public/images/civic0.png" alt="Imagem do carro Honda Civic">
        <div class="botoes-container">
          <button class="btn-img left"> &lt; </button>
          <button class="btn-img right"> > </button>
        </div>
      </div>
      <div class="anuncio-detalhes">
        <h1 class="anuncio-titulo">Honda Civic 2024</h1>
        <p class="anuncio-localizacao">Uberlândia, MG</p>
        <p class="anuncio-descricao">
          Carro novo, único dono, todas as revisões feitas na concessionária. Versão completa com teto solar, bancos em
          couro, câmbio automático e sensor de ré.
        </p>
        <ul class="anuncio-info-lista">
          <li><strong>Ano:</strong> 2024</li>
          <li><strong>Quilometragem:</strong> 8.500 km</li>
          <li><strong>Combustível:</strong> Gasolina</li>
          <li><strong>Câmbio:</strong> Automático</li>
          <li><strong>Cor:</strong> Prata</li>
        </ul>
        <p class="anuncio-preco">R$ 124.999,00</p>
        <a href="../anuncio/interesse.html" class="btn-login">Demonstrar Interesse</a>
      </div>
    </div>
  </main>


  <footer>
    <h3>Vitual Cars não é um site real</h3>
  </footer>
</body>

</html>