body {
    width: 70%;
    align-items: center;
    margin: 0 auto;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    background-color: #c9c9c9;
}


header {
    border-radius: 20px;
    background-color: #525252;
    padding: 40px;
    color: white;
    text-align: center;
    margin-top: 40px;
}

header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

nav{
    background-color: #555555;
    border-radius: 15px;
    margin-top: 10px;
    top: 10px;
    width: 100%;
    align-items: center;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    text-align: center;
    margin-right: 0;
}

nav li:last-child {
    margin-right: 0;
}

nav a{
    display: inline block;
    padding: 20px;
    width: 8%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #464646;
    color: white;
}

main {
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    padding: 40px;
}

table {
    width: 100%;
    margin: 0;
}

td {
    padding: 10px;
}

td:first-child {
    padding-left: 0;
}

td:last-child {
    padding-right: 0;
    max-width: 200px;
}

table img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(101, 101, 101);
    transition: transform 0.3s, box-shadow 0.3s;
}


footer{
    margin-top: 10px;
    margin-bottom: 80px;
    background-color: #525252;
    border-radius: 10px;
    padding: 20px;
}

footer address{
    font-size: large;
    color: white;
    text-align: center;
}