body{
background-color: rgb(192, 192, 192);
}

header{
    background-color: #DDDDDD;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}

header h1{
    margin: 0;
    color: #444;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

nav{
    background-color: #555555;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    text-align: center;
    margin-right: 0;
}

nav li:last-child{
    margin-right: 0;
}

nav a{
    display: inline-block;
    padding: 20px;
    width: 8%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #464646;
    color: white;
}

nav a:active {
    background-color: #272727;
    color: white;
}

main, footer {
    width: 70%;
    margin: 0 auto;
}

main h2:first-of-type {
    margin-top: 40px;
}

main h2{
    margin-top: 40px;
}

h1,
h2 {
    color: rgb(77, 77, 77);
}

main{
    background-color: white;
    border: black 1px solid;
    padding: 20px;
}


footer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;

}

footer address{
    font-size: large;
}

footer{
    color: blue;
}