.tituloh1{
    font-size: 20px;
    font-family: Helvetica;
    padding: 10px;
    color: gray;
}
.tituloh2{
    font-size: 15x;
    font-family: Helvetica;
    padding: 10px;
    color: gray;
}
.paragrafo-home{
    font-weight: bold;
}

#cadastro-h1{
    color: blue;
}

ul:has(li){
    background-color: red;
}

li:first-child{
    color: green;
}

p:first-of-type{
    background-color: blue;
}