<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="cadastro.css">
</head>

<body>
  <header>
    <nav class="nav-login">
      <a href="../home/index.html">
        <img class="logo-image-nav" src="../../public/images/icon.png" alt="logo">
      </a>
    </nav>
  </header>

  <main>
    <div class="form-container">
      <h1 class="form-title">Login</h1>
      <form class="cadastro-form" action="#" method="POST">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" required>

        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" required>

        <button type="submit" class="form-button">Entrar</button>
        <p class="form-link">ou <a href="cadastro.html">faça seu cadastro</a></p>
      </form>
    </div>
  </main>

  <footer>
    <h3>Vitual Cars não é um site real</h3>
  </footer>
</body>

</html>
