<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Virtual Cars - Home</title>
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <header>
    <nav>
      <div class="selectors">
        <select name="marca" id="marca">
          <option value="">Todas as Marcas</option>
        </select>

        <select name="modelo" id="modelo" disabled>
          <option value="">Todos os Modelos</option>
        </select>

        <select name="localizacao" id="localizacao" disabled>
          <option value="">Todas as Cidades</option>
        </select>
      </div>

      <img class="logo-image-nav" src="../../public/images/icon.png" alt="logo">

      <a href="../user/login.html" class="btn-login">Entrar</a>

    </nav>
  </header>

  <main>
    <div class="container" id="anuncios-container">

    </div>
  </main>

  <footer>
    <h3>Virtual Cars não é um site real</h3>
  </footer>

  <script src="home.js"></script>
</body>

</html>